<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISimplyReportService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/SimplyBrand/SocialMonitor/ReportService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISimplyReportService"
                contract="ReportService.ISimplyReportService" name="WSHttpBinding_ISimplyReportService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>