<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SimplyBrand.SocialMonitor.DAL.Data" type="SimplyBrand.SocialMonitor.DAL.Data.Bases.NetTiersServiceSection, SimplyBrand.SocialMonitor.DAL.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <appSettings>
    <add key="EncryKey" value="simplybr"/>
    <add key="EncryIV" value="56123789"/>
  </appSettings>
  <connectionStrings>
    <add name="SimplyBrand.SocialMonitor.DAL.Data.ConnectionString" connectionString="Data Source=.;Initial Catalog=SocialMonitor;Persist Security Info=True;User ID=sa;Password=simplybrand@123" />
  </connectionStrings>
  <SimplyBrand.SocialMonitor.DAL.Data defaultProvider="SqlNetTiersProvider">
    <providers>

      <add
			  name="SqlNetTiersProvider"
			  type="SimplyBrand.SocialMonitor.DAL.Data.SqlClient.SqlNetTiersProvider, SimplyBrand.SocialMonitor.DAL.Data.SqlClient"
			  connectionStringName="SimplyBrand.SocialMonitor.DAL.Data.ConnectionString"
			  providerInvariantName="System.Data.SqlClient"
			  entityFactoryType="SimplyBrand.SocialMonitor.DAL.Entities.EntityFactory"
			  useEntityFactory="true"
			  enableEntityTracking="true"
			  enableMethodAuthorization="false"
			  useStoredProcedure="false"
			  defaultCommandTimeout="30"
			/>

    </providers>
  </SimplyBrand.SocialMonitor.DAL.Data>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        filePath="entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
</configuration>
