<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SimplyBrand.SocialMonitor.DAL.Data" type="SimplyBrand.SocialMonitor.DAL.Data.Bases.NetTiersServiceSection, SimplyBrand.SocialMonitor.DAL.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="EncryKey" value="simplybr"/>
    <add key="EncryIV" value="56123789"/>
    <add key="uploadLogoPath" value="sysuserlogo"/>
    <add key="PDFSavePath" value="D:\publishm"/>
    <add key="PDFSaveRelativePath" value="/sysreports"/>
  </appSettings>
  <connectionStrings>
    <add name="SimplyBrand.SocialMonitor.DAL.Data.ConnectionString" connectionString="Data Source=testserver;Initial Catalog=SocialMonitor;Persist Security Info=True;User ID=sa;Password=simplybrand@123" />
  </connectionStrings>
  <SimplyBrand.SocialMonitor.DAL.Data defaultProvider="SqlNetTiersProvider">
    <providers>

      <add
			  name="SqlNetTiersProvider"
			  type="SimplyBrand.SocialMonitor.DAL.Data.SqlClient.SqlNetTiersProvider, SimplyBrand.SocialMonitor.DAL.Data.SqlClient"
			  connectionStringName="SimplyBrand.SocialMonitor.DAL.Data.ConnectionString"
			  providerInvariantName="System.Data.SqlClient"
			  entityFactoryType="SimplyBrand.SocialMonitor.DAL.Entities.EntityFactory"
			  useEntityFactory="true"
			  enableEntityTracking="true"
			  enableMethodAuthorization="false"
			  useStoredProcedure="false"
			  defaultCommandTimeout="30"
			/>

    </providers>
  </SimplyBrand.SocialMonitor.DAL.Data>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        filePath="entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <log4net>
    <logger name="logerror">
      <level value="ERROR"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>
    <logger name="loginfo">
      <level value="INFO"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <!--日志输出格式-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--存放日志的路径-->
      <param name="File" value="Log\\LogError\\"/>
      <!--是否想日志文件中追加-->
      <param name="AppendToFile" value="true"/>
      <!--最多保存多少天的记录-->
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaxFileSize" value="10240"/>
      <!--日期文件是否固定不变-->
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;"/>
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="异常时间：%d  %m%n"/>
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\INFO\\"/>
      <param name="AppendToFile" value="true"/>
      <!--最多保存多少天的记录-->
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <!--日期文件是否固定不变-->
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;"/>
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="日志时间：%d  %m%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>
