<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SimplyBrand.SocialMonitor.DAL.Data" type="SimplyBrand.SocialMonitor.DAL.Data.Bases.NetTiersServiceSection, SimplyBrand.SocialMonitor.DAL.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <appSettings>
    <add key="EncryKey" value="simplybr"/>
    <add key="EncryIV" value="56123789"/>
    <add key="PDFSavePath" value="D:\publishm"/>
    <add key="PDFSaveRelativePath" value="/sysreports"/>

  </appSettings>
  <connectionStrings>
    <add name="SimplyBrand.SocialMonitor.DAL.Data.ConnectionString" connectionString="Data Source=testserver;Initial Catalog=SocialMonitor;Persist Security Info=True;User ID=sa;Password=simplybrand@123" />
  </connectionStrings>
  <SimplyBrand.SocialMonitor.DAL.Data defaultProvider="SqlNetTiersProvider">
    <providers>

      <add
			  name="SqlNetTiersProvider"
			  type="SimplyBrand.SocialMonitor.DAL.Data.SqlClient.SqlNetTiersProvider, SimplyBrand.SocialMonitor.DAL.Data.SqlClient"
			  connectionStringName="SimplyBrand.SocialMonitor.DAL.Data.ConnectionString"
			  providerInvariantName="System.Data.SqlClient"
			  entityFactoryType="SimplyBrand.SocialMonitor.DAL.Entities.EntityFactory"
			  useEntityFactory="true"
			  enableEntityTracking="true"
			  enableMethodAuthorization="false"
			  useStoredProcedure="false"
			  defaultCommandTimeout="30"
			/>

    </providers>
  </SimplyBrand.SocialMonitor.DAL.Data>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        filePath="entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="Binding_Index"  closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2100000000" maxReceivedMessageSize="2100000000"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="SimplyBrand.SocialMonitor.ReportService.SimplyReportService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding_Index" contract="SimplyBrand.SocialMonitor.ReportService.ISimplyReportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/SimplyBrand/SocialMonitor/ReportService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" maxConcurrentSessions="2147483647"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior >
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint address="http://localhost:8732/SimplyBrand/SocialMonitor/ReportService/"
          binding="wsHttpBinding" bindingConfiguration="Binding_Index"
          contract="ReportService.ISimplyReportService" name="WSHttpBinding_ISimplyReportService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
